
body{background-color: bisque;}

img{
    width: 30vh;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
#logo{
    width: 8vw;
    margin-left: 3vh;
    align-items: center;

}
h1{
    text-align: center;
}
.row{
    
    
    
}
