
body{background-color: bisque;}

img{
    width: 30vh;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
#logo{
    width: 8vw;
    margin-left: 3vh;
    align-items: center;

}
h1{
    text-align: center;
}
.fila1prod{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
    margin-left: 25vh;
}

@media only screen and (max-width:900px){
    .fila1prod{
        display: inline;
        grid-template-columns: 90%;
    }
    
}
    
#prod{
    border: 1vh;
}
#valorProducto{
    display: none;
}
#listaProductos{
    display:none;
}
.button{
    background: #fff;
    color: red;
    border: solid 1px red;
    transition-duration: .3s;
}
  
#prod{
    border: solid 1px black;
    margin: 2px
}
.card-body{
    font-family: system-ui;
    text-decoration: none;
    padding: 9px 23px;
    color: black;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}
.card{
    width: 67%;

}
.card-img-top{
    width: 100%;
}
@media (max-width: 900px){
    .card-img-top{
        width: 30%;
    }
    .card{
        width: 100%;
    }
}