body{background-color: bisque;}
#titular2{color: black; position: relative; top: 120px;}
#whatsapp{position:fixed;bottom:10px;right:10px}
#padding-interno{padding:50px;margin:10px;}
#desc{padding: 20px;margin:10px;}
.caja1{
    color:whitesmoke; background-color: black;
padding-top: 175px;
}

#logo{
    width: 45px;
}

#imagen{
    margin-top: 125px;
width: 45%;
display: flex;

}

#imagen2{
    width: 45%;
    margin-inline-start: 85px;
    
    
}
.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#Tienda{
    margin-right: 25px;
}

.nav{
    width: 110%;
    background-color: black;
    position: fixed;
    margin-top: 0%;
}
.centro{
    display: flex;
}
.centro li{
    list-style-type: none;
    margin: 15px;
    
}
.centro li a{
    color: whitesmoke;
}


.flex-container {
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .foot{
      color: antiquewhite;
    background-color: black;
    height: 120px;

  }


  }